@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
  --main-bg: #111111;
  --main-txt: #fefefe;
  --surface-color: #222222;
  --primary-color: #8046FD;
  --low-contrast-txt: #b3b3b3;
  --finished-book-color: #28B03B;
}

:visited {
  color: var(--primary-color);
}

* {
  transition: all 150ms ease-in-out;
}

body {
  font-family: 'Poppins', Helvetica, sans-serif;
  background-color: var(--main-bg);
  color: var(--main-txt);
  margin: 0; padding: 0;
}

.page-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

main {
  padding: 24px 36px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
  justify-content: center;
  gap: 24px;
}

.card {
  padding: 24px;
  height: 180px;
  background-color: var(--surface-color);
  border-radius: 24px;
  color: var(--low-contrast-txt);

  display: grid;
  grid-template-rows: auto auto 1fr auto;
}

.read-status {
  justify-self: end;
}

.read-status.read::after {
  content: 'Already read';
  border-color: var(--finished-book-color);
  color: var(--finished-book-color);
}

.read-status::after {
  content: 'Not read yet';
  font-size: 0.9rem;
  padding: 4px 12px;
  border-radius: 6px;
  border: 2px solid var(--low-contrast-txt);
}

header,
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--surface-color);

  padding: 36px 0;
  gap: 24px;
}

footer a {
  text-decoration: none;
  font-size: 1.2rem;

  display: flex;
  align-items: center;
  gap: 12px;
}

footer a:hover {
  scale: 1.1;
}

ion-icon {
  color: var(--main-txt);
  font-size: 40px;
}

/* text styling */
h1 {
  font-size: 1.2rem;
}
.card h1 {
  color: var(--main-txt);
  margin: 0;
}
.card h2{
  font-size: 1.1rem;
  margin: 0;
}