@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
  --main-bg: #111111;
  --main-txt: #fefefe;
  --surface-color: #222;
}

body {
  font-family: 'Poppins', Helvetica, sans-serif;
  background-color: var(--main-bg);
  color: var(--main-txt);
  margin: 0; padding: 0;
}

.grid-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

header .main-logo {
  font-weight: bold;
  font-size: 1.2rem;
}

header {
  padding: 36px 0;
  gap: 24px;
}

header,
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--surface-color);
}

footer {
  padding: 48px 0;
  grid-row-end: -1;
}